<div class="carousel-wrapper" id="carousel">
    <div class="carousel-container">
        <div class="carousel-slides">
            <div class="carousel-slide" [class.active]="currentSlide === 0">
                <img src="/images/carrusel1.svg" alt="Carrusel 1" class="carousel-image">
            </div>
            <div class="carousel-slide" [class.active]="currentSlide === 1">
                <img src="/images/carrusel2.svg" alt="Carrusel 2" class="carousel-image">
            </div>
            <div class="carousel-slide" [class.active]="currentSlide === 2">
                <img src="/images/carrusel3.svg" alt="Carrusel 3" class="carousel-image">
            </div>
        </div>

        <div class="carousel-controls">
            <button class="carousel-arrow carousel-arrow-left" (click)="prevSlide()">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.5 13L19.5 26L32.5 39" stroke="rgba(247, 253, 242, 0.4)" stroke-width="2.25"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <button class="carousel-arrow carousel-arrow-right" (click)="nextSlide()">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 13L32.5 26L19.5 39" stroke="rgba(247, 253, 242, 0.4)" stroke-width="2.25"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>

        <div class="carousel-content">
            <div class="carousel-text-container">
                <h2 class="carousel-title" [class.active]="currentSlide === 0">Trabajamos con las marcas más
                    prestigiosas del mercado</h2>
                <h2 class="carousel-title" [class.active]="currentSlide === 1">Te brindamos una plataforma de cotización
                    moderna y fácil de usar</h2>
                <h2 class="carousel-title" [class.active]="currentSlide === 2">Asistencia continua, las 24 horas, para
                    ayudarte con cualquier consulta</h2>
            </div>
            <div class="carousel-dots">
                @for (slide of slides; track slide) {
                <span class="carousel-dot" [class.active]="currentSlide === slide" (click)="showSlide(slide)"></span>
                }
            </div>
        </div>
    </div>
</div>