<p-toast />
<p-dialog [(visible)]="visible" [header]="title" [modal]="true" [style]="{ width: '450px' }" [draggable]="false"
    [resizable]="false" (onHide)="closeDialog()">
    <form [formGroup]="fabricanteForm" class="flex flex-col gap-4 mt-2">
        <!-- Nombre -->
        <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-400">Nombre de la Marca<span
                    class="text-red-500">*</span></label>
            <input pInputText formControlName="nombre" placeholder="Ej: Caterpillar, Komatsu, JCB..." class="w-full" />
            @if (fabricanteForm.get('nombre')?.touched && fabricanteForm.get('nombre')?.invalid) {
            <small class="text-red-500 font-medium">El nombre es requerido</small>
            }
        </div>

        <!-- Descripción -->
        <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-400">Descripción</label>
            <textarea pTextarea formControlName="descripcion" rows="3" placeholder="Opcional: Detalles adicionales"
                class="w-full resize-none"></textarea>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
            <p-button label="Cancelar" icon="pi pi-times" severity="secondary" [text]="true"
                (onClick)="closeDialog()"></p-button>
            <p-button label="Guardar" icon="pi pi-check" [loading]="loading" (onClick)="saveFabricante()"
                styleClass="bg-[#fdb831] border-none text-black font-bold"></p-button>
        </div>
    </ng-template>
</p-dialog>