<section class="who-we-are-section" id="quienes-somos">
    <div class="content-container">
        <div class="text-column">
            <h2 class="section-title">Quienes somos</h2>
            <div class="text-content">
                <p>En <b>HeavyMarket S.A.S</b> somos especialistas en la importación y comercialización de repuestos para maquinaria pesada y montacargas.</p>
                <p>Somos una empresa familiar que garantiza una gestión profesional e independiente con más de 20 años de experiencia en el sector.</p>
                <p>
                    Nuestro principal objetivo se basa en la satisfacción de nuestros clientes, a través del compromiso que requiere cada uno de sus requerimientos; trabajamos con dedicación, transparencia y agilidad para convertiros en un aliado
                    estratégico en sus proyectos y negocios.
                </p>
            </div>
            <div class="actions">
                <button class="btn-primary" routerLink="/cotizar">Cotizar ahora</button>
            </div>
        </div>
        <div class="image-column">
            <img src="assets/images/retrocargador-caterpillar.png" alt="Retrocargador Caterpillar" class="feature-image" />
        </div>
    </div>
</section>
